@font-face {
  font-family: 'neon';
  src: url('font/SANGJU Gotgam.ttf') format('truetype');
}

/* 폰트 적용 */
body {
  color: black;
  font-family: 'neon';
  margin: 0;
  background-color: rgb(40, 44, 52);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

h1 {
  left: 100px;
  top: 50px;
  position: absolute;
}
#aa {
  z-index: 0;
  width: 100%;
  position: absolute;
  display: block;
}

#inContent{
  z-index: 1;
  color: black;
  position: absolute;
  display: inline-block;
}

#button1 {
  color: black;
  z-index: 4;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  top: 320px;
  left: 50px;

  position: absolute;
}
#button1 > button {
  z-index: 4;
  border-width: 0;
  background: none;
}

#button2 {
  color: black;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  top: 350px;
  left: 250px;

  position: absolute;
}
#button2 > button {
  border-width: 0;
  background: none;
}

#buttonImg {
  width: 150px;
  height: 150px;
  margin: 0;
}

.forButton {
  position: absolute;
  left: 20%;
  bottom: 25%;
}

.background {
  /* 210 */
  height : 500px;
  /* 297 */
  width : 1000px;
  position: sticky;
  margin: 10px;
}

#result > p {
  z-index: 10;
  font-size: 60px;
  position: absolute;
  display: flexbox;
  left: 170px;
  top: 120px;
  transform: rotate(5deg);
}